{% extends 'base.html' %}
{% block title %}Dashboard | {{user.username}}{% endblock title %}
{% block content %}
  <header>
    <h1>Welcome to the Superuser Dashboard, {{ user.username }}</h1>
  </header>

  <nav>
    <ul>
      {% comment %} <li>
        <a href="{% url 'some_dashboard_url' %}">Dashboard</a>
      </li> {% endcomment %}
      <li>
        <a href="{% url 'profile' %}" class="save-btn">Profile</a>
      </li>
      {% comment %} <li>
        <a href="{% url 'logout' %}">Logout</a>
      </li> {% endcomment %}
    </ul>
  </nav>

  <section>
    <h2>Dashboard Overview</h2>
    <p>Here you can manage the system, view reports, and more.</p>
    <!-- Add more dashboard-specific content here -->
  </section>

  <section>
    <h2>Your Details</h2>
    <ul>
      <li>Username: {{ user.username }}</li>
      <li>Email: {{ user.email }}</li>
      <li>Full Name: {{ user.get_full_name }}</li>
      <!-- Add more user details as needed -->
    </ul>
  </section>
  <section>
    <h3>My Recent Actions</h3>
    <ul>
        {% for action in recent_actions %}
            <li>{{ action.action_time }} - 
                {{ action.get_action_flag_display }} 
                on {{ action.content_type }}: 
                "{{ action.object_repr }}"
            </li>
        {% empty %}
            <li>No recent actions found.</li>
        {% endfor %}
    </ul>
</section>
{% endblock %}
