<!-- Detail page -->
{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">Vehicle type details</h1>
    
    <div class="row mb-3">
        <div class="col-md-3">
            <strong>Vehicel Type:</strong>
        </div>
        <div class="col-md-9">
            <p>{{ parking.vehicle_type }}</p>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-3">
            <strong>Fair:</strong>
        </div>
        <div class="col-md-9">
            <p>{{ parking.fair }}</p>
        </div>
    </div>

    <!-- Edit and Delete Buttons -->
    <div class="d-flex justify-content-start mt-4">
        <a href="{% url 'vehicle_update' parking.pk %}" class="save-btn">Edit Vehicle Type</a>
        <a href="{% url 'vehicle_list' %}" class="back-btn mx-3">Back to List</a>
        <a href="{% url 'delete_vehicle_type' parking.pk %}" class="cancel-btn">Delete Vehicle Type</a>
    </div>
    
</div>
{% endblock %}
